<html>
	<head>
	<title>Cálculo do risco de Endometriose</title>
	<meta charset="utf-8">
    <style rel="stylesheet">
        p { margin-right: 15%; margin-left: 15%; text-align:justify;}
    </style>
	</head>

	<body>
	<div style="background-color:#660000;color:white;padding:20px">
	<h1><center>Cálculo do risco de Endometriose</center></h1>
	</div>
	<font color="#660000">
	<p>Esta página se propõe a calcular o risco de Endometriose utilizando-se, para tal fim, dos níveis de intensidade de 4 dos sintomas da doença. São eles <b>dismenorreia</b> (dor pélvica durante períodos menstruais), <b>dispareunia</b> (dor durante o ato sexual), <b>dor nas costas e/ou pernas</b> e <b>cansaço</b>.</p>
	<p><center>Insira os respectivos níveis dos sintomas abaixo (cada sintoma varia numa escala de 0 a 10):</center></p><br><br>
	<center>
		<form action="/calculaPeta" method="GET">
			<b>Dismenorreia:</b>
			<select id="dismenorreia" name="dismenorreia">
  				<option value="0">0</option>
  				<option value="1">1</option>
	  			<option value="2">2</option>
	  			<option value="3">3</option>
	  			<option value="4">4</option>
	  			<option value="5">5</option>
	  			<option value="6">6</option>
	  			<option value="7">7</option>
	  			<option value="8">8</option>
	  			<option value="9">9</option>
	  			<option value="10">10</option>
			</select>
			<br><br>
			<b>Dispareunia:</b>
			<select id="dispareunia" name="dispareunia">
	  			<option value="0">0</option>
	  			<option value="1">1</option>
	  			<option value="2">2</option>
	  			<option value="3">3</option>
	  			<option value="4">4</option>
	  			<option value="5">5</option>
	  			<option value="6">6</option>
	  			<option value="7">7</option>
	  			<option value="8">8</option>
	  			<option value="9">9</option>
	  			<option value="10">10</option>
			</select>
			<br><br>
			<b>Dor nas costas/pernas:</b>
			<select id="dorcp" name="dorcp">
	  			<option value="0">0</option>
	  			<option value="1">1</option>
	  			<option value="2">2</option>
	  			<option value="3">3</option>
	  			<option value="4">4</option>
	  			<option value="5">5</option>
	  			<option value="6">6</option>
	  			<option value="7">7</option>
	  			<option value="8">8</option>
	  			<option value="9">9</option>
	  			<option value="10">10</option>
			</select>
			<br><br>
			<b>Cansaco:</b>
			<select id="cansaco" name="cansaco">
	  			<option value="0">0</option>
	  			<option value="1">1</option>
	  			<option value="2">2</option>
	  			<option value="3">3</option>
	  			<option value="4">4</option>
	  			<option value="5">5</option>
	  			<option value="6">6</option>
	  			<option value="7">7</option>
	  			<option value="8">8</option>
	  			<option value="9">9</option>
	  			<option value="10">10</option>
			</select>
			<br>
			<br>
			<br>
			<br>
			<input type="submit" value="Enviar">
		</form>
		</center>
		<br>
		<br>
		<hr>
		<br>
		<p><b>Resultado:</b></p><br>
		<center><img src="/static/resultado_peta.png?{{ timestamp }}" alt="Clique em enviar para gerar um novo resultado"> </center>
	    </font>
	</body>
</html>
